.right-sidebar {
  flex: 3.5;
}

.right-sidebar-wrapper {
  padding: 20px;
}

.gift {
  display: flex;
  align-items: center;
  gap: 10px;
}

.gift img {
  width: 50px;
  height: 50px;
}

.ad {
  margin-block: 25px;
}

.ad img {
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
}
