.profile-container {
  display: flex;
  margin-top: 55px;
  background-color: #dcdddf;
  /* height: 100vh;
  overflow-y: scroll; */
}

.profile-left-sidebar {
  flex: 2.5;
}

.profile-right-sidebar {
  flex: 9.5;
}
