.messenger-chat {
  display: flex;
  /* height: calc(100vh - 55px); */
  height: 100vh;
}

.chatMenu {
  flex: 3;
  padding: 20px;
}

.chatBox {
  flex: 6;
  /* margin-block: 20px; */
}

.chatOnlineFriends {
  flex: 3;
  padding: 20px;
  height: 100vh;
}

.conversations {
  flex: 3;
  padding: 20px;
  height: 100vh;
}

.conversations-search-input input {
  height: 35px;
  border: none;
  border-bottom: 1px solid gray;
  width: 100%;
  padding: 5px;
  font-size: 1rem;
}

.conversations-search-input input:focus {
  outline: none;
}

.conversation-item img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.conversation-item {
  font-weight: 500;
  padding-top: 10px;
}

.message-submit-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}

.message-container {
  margin-top: 20px;
  margin-bottom: 10px;
  overflow-y: scroll;
  height: calc(100vh - 205px);
}

.message-textarea {
  width: 80%;
  height: 100px;
  padding: 10px;
  letter-spacing: 0.5px;
  font-size: 1rem;
}

.message-textarea:focus {
  outline: none;
}

.btn-send {
  padding: 10px;
  min-width: 100px;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  border: none;
  border-radius: 5px;
  background-color: #1775ee;
  cursor: pointer;
  letter-spacing: 0.5px;
}

.btn-send:hover {
  background-color: #0d5abf;
}

.start-new-conversation {
  font-size: 2rem;
  color: rgb(216, 216, 216);
  padding-top: 50px;
  padding-left: 125px;
}
