.topbar-container {
  height: 55px;
  width: 100%;
  background-color: #1877f2;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 999;
}

.wrapper {
  max-width: 1500px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.logo-text-link {
  color: white;
}

.topbar-left {
  flex: 3;
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  margin-left: 50px;
}

.topbar-center {
  flex: 6;
  display: flex;
  align-items: center;
  margin-left: 30px;
}
.search-bar {
  display: flex;
  align-items: center;
  position: relative;
}

.searchbar-input {
  position: relative;
}

.search-close-btn {
  position: absolute;
  right: 15px;
  z-index: 1500;
  cursor: pointer;
}

.search-close-btn-icon {
  display: flex;
  align-items: center;
  border-radius: 50%;
  height: 13px;
  width: 13px;
  color: gray;
}

.topbar-right {
  flex: 3;
  display: flex;
  gap: 50px;
  margin-right: 50px;
}

.topbar-logo {
  cursor: pointer;
  letter-spacing: 0.5px;
}

.search-form {
  width: 100%;
}

.search-bar {
  background-color: white;
  width: 80%;
  border: none;
  border-radius: 15px;
  height: 33px;
  display: flex;
  align-items: center;
  margin-left: 25px;
}

.search-bar input {
  border: none;
  width: 80%;
  height: 33px;
  margin-left: 10px;
  font-size: 0.9rem;
  letter-spacing: 0.75px;
}

.search-bar input:focus {
  outline: none;
}

.search-bar .search-bar-icon {
  margin-left: 10px;
}

.topbar-links {
  color: white;
  display: flex;
  align-items: center;
  gap: 10px;
}

.topbar-icons {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-left: 150px;
}

a {
  text-decoration: none;
}

.topbar-link a {
  color: white;
  letter-spacing: 0.75px;
}

.person-icon {
  height: 25px;
  width: 25px;
  color: white;
  display: flex;
  align-items: center;
}

.chat-icon,
.bell-icon {
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  color: white;
}

.person,
.chat,
.bell {
  display: flex;
  position: relative;
}

.person-icon-notification-number {
  position: absolute;
  background-color: red;
  color: white;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -0.1rem;
  left: 0.9rem;
}

.chat-icon-notification-number {
  position: absolute;
  background-color: red;
  color: white;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -0.25rem;
  left: 0.9rem;
}

.bell-icon-notification-number {
  position: absolute;
  background-color: red;
  color: white;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -0.25rem;
  left: 0.75rem;
}

.profile-pic {
  position: relative;
}

.profile-pic img {
  display: flex;
  align-items: center;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 20px;
}

.logout-link {
  color: white;
  display: flex;
  align-items: center;
  gap: 10px;
}

.logout-link a {
  color: white;
  letter-spacing: 0.75px;
}

.topbar-profile-pic {
  cursor: pointer;
}

.hidden-topbar-sidebar {
  min-width: 250px;
  background-color: white;
  border-radius: 10px;
  position: absolute;
  top: 45px;
  right: 0;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.75);
}

.hidden-topbar-sidebar-container {
  display: flex;
  flex-direction: column;
}

.profile-section-user-hidden {
  padding: 5px 10px;
  display: flex;
  align-items: center;
  gap: 25px;
  cursor: pointer;
  min-height: 50px;
}

.profile-section-user-hidden:hover,
.logout-section-hidden:hover {
  background-color: #dcdddf;
  border-radius: 10px;
}

.logout-section-hidden {
  padding: 10px 10px;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: black;
}

.hide-logout {
  display: none;
}
