.friendsList .friend-name img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.friends-list-item {
  display: flex;
  align-items: center;
  gap: 15px;
  /* margin-block: 15px; */
  padding: 10px;
  border-radius: 5px;
}

.friends-list-item:hover {
  /* background-color: rgb(247, 244, 244); */
  background-color: #dcdddf;
}

.friend-empty-avatar {
  width: 40px;
  height: 40px;
  color: rgb(203, 199, 199);
  background-color: white;
  border-radius: 50%;
  padding: 1px;
}

.friend-name {
  font-weight: 500;
}
