.online-friends {
  display: flex;
  align-items: center;
  gap: 15px;
  /* margin-block: 15px; */
  padding: 10px;
  border-radius: 5px;
}

.online-friends:hover {
  background-color: rgb(247, 244, 244);
}

.online-friends img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.friend-pic {
  position: relative;
}

.friend-green-mark {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgb(98, 200, 98);
  border: 2px solid white;
  position: absolute;
  top: -4px;
  right: 1px;
}
