.left-sidebar {
  flex: 2.5;
  /* height: calc(100vh - 55px); */
  height: 100vh;
  overflow-y: scroll;
  padding-inline: 20px;
}

.left-sidebar-container {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  /* background-color: #f1f1f1; */
  /* background-color: white; */
}

::-webkit-scrollbar-thumb {
  /* background-color: rgb(218, 217, 217); */
  /* background-color: white; */
}

/* .left-sidebar-wrapper {
  padding: 20px;
} */

.wrapper {
  max-width: 1500px;
  margin: 0 auto;
}

.courses-icon,
.events-icon,
.jobs-icon,
.questions-icon,
.bookmarks-icon,
.rss-feed-icon,
.groups-icon,
.chats-icon,
.videos-icon {
  width: 22px;
  height: 22px;
  margin-right: 15px;
}

.videos,
.groups,
.bookmarks,
.questions,
.jobs,
.events,
.chats,
.courses,
.rss-feed {
  display: flex;
  align-items: center;
  padding: 15px 10px;
  border-radius: 5px;
}

.videos:hover,
.groups:hover,
.bookmarks:hover,
.questions:hover,
.jobs:hover,
.events:hover,
.chats:hover,
.courses:hover,
.rss-feed:hover {
  /* background-color: rgb(237, 236, 236); */
  background-color: #dcdddf;
}

.left-sidebar-container span {
  font-weight: 400;
}

ul {
  list-style-type: none;
}

.btn-showmore {
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: 500;
  border-radius: 5px;
  margin-block: 15px;
  letter-spacing: 0.5px;
}

.btn-showmore:hover {
  background-color: rgb(207, 204, 204);
}

.leftsidebar-hr {
  margin-top: 10px;
  margin-bottom: 15px;
}
