.message-box {
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
}

.message-content.own {
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: end;
}

.message-content {
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: start;
}

.message-timestamp.own {
  font-size: 0.85rem;
  padding-top: 10px;
  text-align: end;
}

.message-timestamp {
  font-size: 0.85rem;
  padding-top: 10px;
  text-align: start;
}

.message-owner-pic img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  object-fit: cover;
}

.message-text.own {
  background-color: #dcdddf;
  padding: 15px;
  border-radius: 25px;
  /* letter-spacing: 0.25px; */
  line-height: 1.35;
  width: 65%;
  color: black;
}

.message-text {
  background-color: #1877f2;
  padding: 15px;
  border-radius: 25px;
  /* letter-spacing: 0.25px; */
  line-height: 1.35;
  width: 65%;
  color: white;
}
